body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

#display {
    border-width: 4px;
    border-style: solid;
    width: 200px;
    height: 20px;
    padding: 5px;
    background-color: white;
}

#buttons {
    display: flex;
    flex-direction: column;
    
}

#clear {
    background-color: red;
    padding: 5px;
    height: 40px;
    width: 50px;
}

#row1 {
    padding: 5px;
}

.row {
    display: flex;
    width: 200px;
    height: 40px;
    padding: 5px;
}

.ops {
    flex: auto;
}

.num {
    flex: auto;
}